<h1>Log In</h1>
<div class="container login">
<%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions login-button"><%= submit_tag "Log In" %></div>
<% end %>
</div>