<nav class="navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Neumont Heap</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href="<%=questions_url %>">More Questions </a></li>
        <li>
          <button type="button" class="btn btn-primary btn-lg question-btn" data-toggle="modal" data-target="#new-question-modal">
         Ask Something
        </button>
        </li>
        <% if current_user %>
            <li class ="mavbar-right"> <a href="<%= profile_path %>"> Logged in as <%= current_user.username %>.</a></li>

            <li class="user-logout">  <%= link_to "Log Out", logout_path %> </li>
          <% else %>
              <li class="user-signup"> <%= link_to "Sign Up", signup_path %> </li>
              <li class='user-login'> <%= link_to "Log In", login_path %> </li>
          <% end %>


      </ul>
    </div>
  </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>