<!DOCTYPE html>
<html>
  <head>
    <title>NuHeap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
   <%= render 'home/navbar'%>
   <p class="notice"> <%=	notice  %></p>
   <p class="flash"><%= flash %></p>
  <%= yield %>
  <%= render 'home/new-question-form' %>
  </body>
</html>
